* {
    font-family: "DM Sans", sans-serif;
    color: #4b4b4b;
}
.aboutUsContainer {
    // background: url('../assets//images/background.jpeg');
    background: #F3F3F3;
}
input::placeholder {
    font-size: 15px;
}
textarea::placeholder {
    font-size: 15px;
}
.editBtn {
    width: 100%;
    height: 3vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    // margin-top: 2vw;
    background: #1f2937;
}

.aboutUsMailBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
.aboutUsMailBox a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}
.text-gray-400 {
    height: 3vw !important;
    width: 3vw !important;
}

.css-p6jkmx {
    height: 100% !important;
}
@media screen and (max-width: 800px) {
    .px-10 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .gap-8 {
        gap: 4vw !important;
    }
    .grid-cols-1 {
        grid-template-columns: 1fr 1fr !important;
    }
    .text-\[30px\] {
        font-size: 6vw !important;
        text-align: center !important;
    }
    .css-1idwstw p {
        font-size: 3.5vw !important;
        text-align: center;
    }
    .css-1idwstw p:nth-of-type(2) {
        font-size: 3vw !important;
        color: #4b4b4b;
    }
    .text-\[\#ffffff\] {
        margin-top: 10vw !important;
    }
    .flex {
        justify-content: center !important;
    }
    .mt-2 {
        margin-top: 1.5rem !important;
    }
    .mt-12 {
        grid-template-columns: 1fr !important;
    }
    .space-y-5 > :not([hidden]) ~ :not([hidden]) {
        text-align: center !important;
    }
    .font-semibold {
        text-align: center !important;
    }
    .text-gray-400 {
        height: 8vw !important;
        width: 8vw !important;
    }
    .aboutUsMailBox a {
        gap: 3vw !important;
    }
    .aboutUsMailBox {
        gap: 10vw;
    }
    .editBtn {
        width: 24vw;
        height: 11vw;
        margin-top: 5vw;
        border-radius: 1vw;
        font-size: 4vw;
        background: #171A25;
    }
}
