.codeHeader{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10%;
    color: white;
    padding-left: 3vw;
}

.codeHeaderBtns{
    font-size: 5vw;
    color: red;
}


@media screen and (max-width: 800px) {
    .codeHeader{
        padding: 0 5vw;
        justify-content: space-between;
    }
}
