.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 2vw;
    }

    .logo{
        font-family: "Potta One", system-ui;
        font-weight: 400;
        font-style: normal;
        color: "#4b4b4b";
    }
    .code{
        color: rgba(0, 131, 231, 0.89) !important;
    }
}


