*{
    color: white;
}

.mainCodeLeft{
    margin-right: 0.7vw;
    background: #242424;
    border-radius: 1rem;
}


.css-1qw5wox ,
.chakra-button,
.codeHeaderBtns,
.css-1gnuea4{
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.codeLeftHeader{
    padding: .5vw 2vw;
    display: flex;
    margin-top: .8vw;
    border-radius: 100vw;
    justify-content: space-between;
    align-items: center;
    background: #242424;

    p{
        font-size: 1.3vw;
        padding: .4vw 1.3vw;
        cursor: pointer;
        color: white;
        border-radius: 10vw;
    }
    h4{
        font-size: 1.3vw;
        color: yellowgreen;
    }
}


@media screen and (max-width: 800px) {
    .codeLeftHeader{
        width: 95vw;
    }

    .codeLeftHeader p{
        font-size: 3vw;
        padding: .5vw 2vw;
    }
    .codeLeftHeader > div > p{
        font-size: 4vw;
        padding: 1vw 3vw;
    }
    .codeLeftHeader h4{
        font-size: 3vw;
    }
    .codeLeftHeader h4 span{
        font-size: 3vw;
    }
}