*{
    color: white;
}

.codeLeftHeader{
    margin-top: 2vw;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        font-size: 1.3vw;
        padding: .4vw 1.3vw;
        cursor: pointer;
        color: white;
        border-radius: 10vw;
    }
    h4{
        font-size: 1.3vw;
        color: yellowgreen;
    }
}


@media screen and (max-width: 800px) {
    .codeLeftHeader{
        width: 100vw;
    }

    .codeLeftHeader p{
        font-size: 3vw;
        padding: .5vw 2vw;
    }
    .codeLeftHeader h4{
        font-size: 3vw;
    }
    .codeLeftHeader h4 span{
        font-size: 3vw;
    }
}