.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    span {
        font-size: 3vw;
        color: white;
    }

    .logo{
        font-family: "Potta One", system-ui;
        font-weight: 400;
        font-style: normal;
        color: white;
    }
    .code{
        color: rgb(0, 131, 231);
    }
}


