* {
    color: white;
    font-family: sans-serif;
  }
.codingPageBox {
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    background: #242424;
    color: white;

   
    .container {
        height: 90vh; 
        display: grid;
        grid-template-columns: 40% 58%;

        .left {
            padding: 20px;
            border-right: 0;
            width: 40vw;

            .leftHeader {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                border-bottom: 1px solid grey;
                padding-bottom: 10px;

                p {
                    font-size: 1rem;
                }
            }

            .scroller {
                overflow-y: auto;
                height: 75vh; /* Adjusted for header and header margin */
            }

            .que {
                font-size: 1.5rem;
                color: white;
                margin-bottom: 20px;

                span {
                    font-size: 1.5rem;
                }
            }

            .desc {
                color: white;
                line-height: 2;
                font-size: 1.4vw;
            }

            
        }

       
    }
}



@media screen and (max-width: 800px) {
    .codingPageBox .container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
    }
    .codingPageBox .container .left {
        padding: 20px;
        border-right: 0;
        height: auto;
        width: 100vw;
    }
    .codingPageBox .container .left .scroller {
        height: auto;
        width: 100vw;
    }
    .codingPageBox .container .left .desc {
        font-size: 4vw;
    }

}