
.codingPageBox {
    overflow: hidden;

    width: 100vw;
    min-height: 100vh;
    background: #242424;
    color: white;

   
    .container {
        height: 90vh; 
        display: grid;
        grid-template-columns: 45% 55%;

        .left {
            padding: 20px;

            .leftHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                border-bottom: 1px solid grey;
                padding-bottom: 10px;

                p {
                    font-size: 1rem;
                }
            }

            .scroller {
                overflow-y: auto;
                height: 75vh; /* Adjusted for header and header margin */
            }

            .que {
                font-size: 3rem;
                margin-bottom: 20px;
            }

            .desc {
                color: white;
                line-height: 2;
            }

            .constraints {
                margin-top: 10vh;

                h2 {
                    margin: 10px 0 20px 0;
                }
            }
        }

       
    }
}
