/* .DisplayProblemContainer {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.problemInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.problemNum {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.problemName {
  font-size: 16px;
  color: #333;
}

.problemDetails {
  display: flex;
  justify-content: space-between;
}

.detail {
  font-size: 14px;
  color: #666;
} */

/* DisplayProblemContainer.css */

.displayProblemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 1vw;
  background: #32394D;
  width: 98%;
  margin: 1vw 0;
  border-radius: 1vw;
}

.bigFont {
  font-size: 1.5vw;
  margin-right: 5vw;
}

.smallFont {
  font-size: 1vw;
}

.displayDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.easy {
  color: #1cbaba !important;
}

.medium {
  color: #ffb700 !important;
}

.hard {
  color: #f63737 !important;
}

@media screen and (max-width: 800px) {
  .displayProblemContainer p {
    font-size: 3.3vw;
    margin-right: 2vw;
  }
  .accountPage .accRight .accBottom .headings {
    margin: 3vw 0;
  }
  .displayProblemContainer{
    padding: 3vw 3vw;
  }
}
