.editProfile{
    width: 100vw;
    padding-top: 5vw;
    background: #1A1A1A;

    .editHead{
        margin-bottom: 5vh;
        display: grid;
        place-items: center;
         
        h1{
            color: white;
            font-size: 3vw;
            font-weight: bold;
        }
    }

    .editBox{
        display: grid;
        grid-template-columns: 30% 70%;

        .editLeft{
            display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
    margin-left: auto;

            img{
                width: 15vw;
                height: 15vw;
            }

            .custom-file-upload {
                background-color: #007bff;
                color: white;
                padding: 10px 20px;
                border-radius: 10px;
                margin-right: 1vw;
                cursor: pointer;
              }
              
              .file-input {
                display: none;
              }

        
        }
        

        .editRight{
            display: grid;
            place-items: center;

            .editInputBox{
                display: flex;
                width: 60%;
                flex-direction: column;
                gap: 1vw;

                Input{
                    color: white;
                    font-size: 100%;

                }
                Input::placeholder{
                    font-size: 100%;
                }
            }
            .editBtnBox{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2vw;
                // border: 2px solid blue;  
            }
        }


    }
}

.editInput{
    display: grid;
    place-items: center;
    grid-template-columns: 30% 70%;
}


.editBtns{
    width: 10vw;
    height: 3vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    // margin-top: 2vw;
    background: #2C2C2C;
}







.profileImagesBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vw;
}



.profileImages{
    border-radius: 100vw;
    cursor: pointer;
}










@media screen and (max-width: 800px) {
    .editProfile .editBox {
        grid-template-columns: 1fr;
        place-items: center;
        gap: 10vh;
    }
    .editProfile .editBox .editLeft {
        align-items: center;
        margin-left: 0;
    }
    .editProfile .editBox .editLeft img {
        width: 35vw;
        height: 35vw;
    }
    .editProfile .editBox .editRight {
        gap: 3vw;
    }
    .editInput{
        gap: 5vw;
        grid-template-columns: 1fr 3fr;
    }
    .editProfile .editBox .editRight .editInputBox {
        gap: 5vw;
    }
    .editProfile .editHead h1 {
        font-size: 8vw;
    }
    .editProfile .editBox .editRight .editInputBox {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5vw;
        justify-content: space-between;
        align-items: center;
    }
    .editBtns{
        width: 10vw;
        height: 6vw;
        border-radius: 1vw;
        font-size: 2vw;
        // margin-top: 2vw;
        background: #2C2C2C;
    }
}