

.entranceContainer{
    width: 100vw;
    height: 100vh;
    background: rgb(249, 227, 227);
    display: grid;
    grid-template-rows: 15% 85%;


    .logoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;


        
        .logo{
            font-family: "Potta One", system-ui;
            font-weight: 400;
            font-style: normal;
            color: black;
        }
        .code{
            color: rgb(0, 131, 231);
        }
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left{
            display: flex;
            flex-direction: column;
            padding: 2vw 0 0 5vw;
            align-items: center;


            p{
                font-size: 2vw;
                text-align: center;
                font-family: "Mochiy Pop One", sans-serif;
            }       
            
            h2{
                font-size: 4vw;
                font-family: "Mochiy Pop One", sans-serif;
                margin-bottom: 5vw;
                font-style: normal;
                color: black;


                span{
                    font-family: "Mochiy Pop One", sans-serif;
                    color: rgb(0, 131, 231)
                }
            }

            .button{
                padding: 1vw;
                font-size: 2vw;
                text-decoration: none;
                color: black;
                border-radius: 0.5vw;
                display: grid;
                font-family: "Mochiy Pop One", sans-serif;
                border: 1px solid black;
                text-align: center;
            }
        }

        .right{
            img{
                width: 45vw;

            }
        }
    }
    
}