* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}
.newMainHome {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
}
.mainHome {
    width: 100vw;
    min-height: 100vh;
    background-color:white;
    background-image: url('../assets//images/background.jpg');
    .mainheading {
        margin-top: 4vw;
        margin-left: 3vw;
        // border: 2px solid green;
        height: auto;
        line-height: 6.5vw;
        :nth-child(1) {
            font-size: 7vw;
            span {
                color: rgb(60, 114, 214);
            }
            .bro {
                color: rgb(0, 0, 0);
            }
        }
        :nth-child(2) {
            font-size: 4.2vw;
            
        }
        :nth-child(3) {
            // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1.3vw;
            font-weight: 200;
            position: relative;
            bottom: 1vw;
        }
        p {
            color: white;
        }
        
    }
}
.getStartedbtn {
    // display: flex;
    // justify-content: start;
    // align-items: center;
    // border: 1px solid #eee;
    padding: 0vw;
    justify-content: center;
    .btnn {
        // border: 2px solid #eee;
        display: inline-block;
        margin-left: 4vw;
        width: auto;
        margin-top: 2vw;
        padding: .3vw .6vw;
        box-shadow: 3px 2px 40px black;
        background-color: rgb(30, 105, 217);
        button {
            margin: 0;
            width: auto;
            font-size: 1.3vw;
            font-weight: 100;
        }
    }   

    i {
        filter: invert(1);
        cursor: pointer;
    }
}


