.exContainer{
    margin-top: 3vw;
    display: flex;    
    flex-direction: column;
    gap: .5vw;

    h2{
        font-size: 1.4vw;
        margin-bottom: 1vw;
    }

    span{
        font-size: 1.3vw;
    }

    .bold{
        font-weight: bold;
    }
}