.exContainer{
    margin-top: 3vw;
    display: flex;    
    width: 90%;
    flex-direction: column;
    gap: .5vw;
    background: #F1F1F3;
    border-radius: 2vw;
    padding: 2vw 2vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    h2{
        font-size: 1.4vw;
        margin-bottom: 1vw;
        color: #4b4b4b;
    }

    span{
        font-size: 1.3vw;
        color: #4b4b4b;
    }

    .bold{
        font-weight: bold;
    }
}


@media screen and (max-width: 800px) {
    .exContainer h2 {
        font-size: 4vw;
    }
    .exContainer span {
        font-size: 4vw;
    }
}