* {
  p{
    color: #4b4b4b;
  }
}
.home {
  // width: 100vw;
  background-color: #F3F3F3;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.flexerr {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
}

.left {
  background-color: #F3F3F3;
  margin-right: .5vw;
  padding: 0.2vw 0.8vw;
  
  .head1 {
    padding: 0.8vw 1vw;
    p {
      color: #4b4b4b;
      font-size: 1.3vw;
    }
  }
  .languages {
    // border-bottom: 2px solid rgb(161, 156, 156);
    background-color: #F1F1F3;
    padding: 1vw 0vw;
    border-radius: 1vw;
    margin: 0 1vw;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);


    .sec1 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: .8vw;
      // border: 2px solid blue;
      margin-top: 0;
      h1 {
        // border: 2px solid blue;
        font-size: 1.5vw;
        color: #4b4b4b;
        border-bottom: .15vw solid #4b4b4b;
      }
    }
    .sec2 {
      // border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.4vw;
        width: 50vw;
        // border: 2px solid white;
        text-align: center;
        color: #4b4b4b;
        padding: .6vw .8vw;
        border-radius: 1vw;
        // background-color: white;
        // box-shadow: 1px 1px 5px white;
      }
      span {
        color: #adff2f;
        font-size: 2vw;
      }
    }
  }
  .head2 {
    // border-bottom: 2px solid rgb(143, 138, 138);
    font-size: 1.3vw;
    margin: 1vw 2vw;
    padding: 0.4vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 1vw;

    > p{
      font-size: 2vw;
      color: #4b4b4b;
    }

    .seeall{
      color: #4b4b4b;
      border-bottom: .1vw solid #4b4b4b;
      font-size: 1.5vw;
    }
   
  

    button:hover {
      box-shadow: 1px 1px 8px #dde8fd;
      
    }
  }

  .moreQues{
    display: inline-block;
    margin-top: 2vw;
    border: 0.2vw solid #4b4b4b;
    border-radius: 100vw;
    padding: .8vw 2vw;
    color: #4b4b4b;
    transition: .2s ease-in-out;

  }

  .moreQues:hover{
    border: 0.2vw solid lightblue;
  }

  .problemsShower {
    // border: 2px solid rgb(0, 255, 0);
    height: 85%;
    
    .levelss {
      
      .levelspart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
        p{
          color: #4b4b4b;
        }
      }

    
      .ds {
        margin-right: 1vw;
      }
    }
  }
  .problemdisplays {
    height: calc(100vh - 55vh);
    padding: 0.2vw 1vw;
    margin: 0.5vw;
    border-radius: 0.5vw;
    overflow-y: scroll;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  .problemdisplays::-webkit-scrollbar {
    width: 0.6vw;
  }

  .problemdisplays::-webkit-scrollbar-track {
    background: #F3F3F3;
    border-radius: 3vw;
  }

  .problemdisplays::-webkit-scrollbar-thumb {
    background: #adff2f;
    border-radius: 5px;
  }

  .problemdisplays::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .moreQuesbnt {
    background-color: #1A62DE;
    margin: .5vw 0vw .5vw 0vw;
    height: 2.5vw;
    width: 10vw;
  }
}

.right {
  display: grid;
  padding-right: 1.5vw;
  margin-bottom: 2vw;
  .accTop {
    background-color: #F1F1F3;
    padding: .6vw 0vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    
  }
  .statShower {
    padding: 1vw;
    // border: 2px solid yellow;
    box-shadow: -1px -1px 12px #729feb;
    border-radius: .8vw;
    // margin-right: .3vw;
    // margin-top: .5vw;
    .statPart1 {
      display: flex;
      justify-content: center;
      gap: 1vw;
      align-items: center;
      .totalSolved {
        border: 2px solid white;
        padding: 1vw 1.6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        :nth-child(2) {
          font-size: 1.2vw;
        }
        p {
          font-size: 2vw;
          color: #4b4b4b;
        }
      }
    }
  }
  .rangeContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    margin-top: 1.2vw;

    .rangeBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.4vw;
        margin-top: .1vw;

        .range{
            overflow: hidden;
            
            .easyRange{
                height: 100%;
                border-radius: 10rem;
                background: rgb(107, 248, 109);
            }
            .mediumRange{
                height: 100%;
                border-radius: 10rem;
                background: rgb(255, 183, 68);
            }
            .hardRange{
                height: 100%;
                border-radius: 10rem;
                background: rgb(255, 82, 82);
            }
        }
    }
    .diffTextBox{
        display: flex;
        color:#4b4b4b;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.2vw;

        .easy{
          color: #1CBABA;
      }
      .medium{
          color: #FFB700;
      }
      .hard{
          color: #F63737;
      }

        p{
            color: white;
            font-size: 1vw;
        }
    }
    .numberBox{
        display: flex;
        color:#4b4b4b;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .6vw;

        p{
            color: #4b4b4b;
            font-size: 1.2vw;

            span{
            font-size: 1vw;
              color: #4b4b4b;
            }
        }
    }



    .range{
        width: 10vw;
        height: 1.2vw;
        box-shadow: 0px 0px 2px 0px #4b4b4b;
        border-radius: 10rem;
    }
}
}

.circleTextSpan{
  font-size: 1.9vw;
}
.circleTextSpan2{
  font-size: 1.3vw;
  color: #4b4b4b;
}
.circleTextP{
  color: #4b4b4b;
  font-size: 1.3vw;
}
.Solvedhead {
  p{
    color: #4b4b4b;
  }
}
.statPart2 {
  margin-top: 1vw;
  .rangespart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    label {
      color: #4b4b4b;
    }
  }
}
.SubmissionShower {
  // border-top: 1px solid white;
  background-color: #F1F1F3;
  border-radius: 1vw;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  margin-top: 1vw;
  padding: 1vw .4vw;
  // border: 2px solid red;
  .SubmissionHead {
    display: flex;
    justify-content: center;
  }
  .SubmissionStatusBar {
    // margin-top: vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;
    p {
      font-size: 1vw;
      color: #4b4b4b;
    }
  }
  .SubmissionProblemShower {
    padding: 0vw 0.2vw 4vw 0.2vw;
    border-radius: 0.6vw;
    overflow-y: scroll;
    height: 33vh;
    overflow-x: hidden;
  }
  .SubmissionProblemShower::-webkit-scrollbar {
    width: 0.6vw;
  }

  .SubmissionProblemShower::-webkit-scrollbar-track {
    background: #F3F3F3;
    border-radius: 50%;
    border-radius: 3vw;
  }

  .SubmissionProblemShower::-webkit-scrollbar-thumb {
    background: #adff2f;
    border-radius: 5vw;
  }

  .SubmissionProblemShower::-webkit-scrollbar-thumb:hover {
    background: #555;
  }






}
.accRightTopHeading{
  font-size: 1.6vw;
  text-align: center;
  margin-bottom: 1vw;

  
}
.css-1kd86nz{
  height: 10vw !important;
  width: 10vw !important;
}


@media screen and (max-width: 800px) {
  .css-ol3i12,
  .css-clwkh4{
    stroke-width: 2vw !important;
  }

  .flexerr {
    overflow-y: scroll;
  height: 100vh;

    grid-template-columns: 1fr;
  }

  .left .languages {
    border-radius: 5vw;
    padding: 4.2vw 0vw;
  }
  .left .moreQues {
    margin-top: 6vw;
    font-size: 5vw;
}
.left .problemsShower {
  padding-bottom: 4vw;
  height: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
.right .accTop {
  margin: 5vw 1vw;
  padding: 6vw;
  border-radius: 4vw;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.accRightTopHeading{
  font-size: 5vw;
}

.right .rangeContainer .diffTextBox p {
  font-size: 4vw;
}
.right .rangeContainer .numberBox p {
  font-size: 4vw;
}
.right .rangeContainer .numberBox p span{
  font-size: 4vw;
}
.right .rangeContainer .rangeBox {
  gap: 2vw;
  margin: 0 3vw;
}
.right .rangeContainer .range{
  margin-top: 1.2vw;
}
.right .rangeContainer{
  margin-top: 6vw;
}
.right .rangeContainer .range {
  width: 40vw;
  height: 4vw;
  border-radius: 10rem;
}
.SubmissionShower .SubmissionStatusBar p {
  font-size: 3vw;
}

  .left .languages .sec1 h1 {
    font-size: 5vw;
  }
  .SubmissionShower {
    margin: 0 1vw;
    height: 50vh;
    border-radius: 5vw;}

  .left .languages .sec2 p {
    font-size: 3.4vw;
    width: 80vw;
    margin-top: 2vw;
  }

  .accRightTopHeadingBox{
    margin-bottom: 5vw;
  }
  .css-1kd86nz {
    width: 40vw !important;
    height: 40vw !important;
  }
  .left .head2{
    margin-top: 3vh;
  }
  .left .head2 p{
    font-size: 5vw;
    color: #4b4b4b;
  }
  .left .head2 .seeall {
    font-size: 4.5vw;
}
.SubmissionShower .SubmissionProblemShower {
  padding: 5vw 2vw 20vw 2vw;
  border-radius: 0.6vw;
  overflow-y: scroll;
  height: 62vw;
}
.circleTextSpan{
  font-size: 9vw;
}
.circleTextSpan2{
  font-size: 5vw;
}
.circleTextP{
  font-size: 3vw;
}
.left .problemsShower .levelss .levelspart {
  gap: 3.5vw;
}
.left .problemsShower .levelss .levelspart p{
  color: #4b4b4b;
  font-size: 3.5vw;
}
.left .problemsShower .levelss .levelspart .problemName{
  font-size: 4vw;
}
}
