
.leaderBottom{
  border-radius: 3vw;
  padding: 2vw 1vw;
  background: #242424;
}
.leaderBoardPage h3{
  font-size: 3vw;
  margin-top: 2vw;
  color: lightblue;
  text-align: center;
}
.leaderBoardPage > p{
  font-size: 1vw;
  color: grey;
  margin-bottom: 4vw;
  text-align: center;
}
.leaderBoardPage p{
  font-size: 1.3vw;
}
.chakra-accordion__item{
  min-height: 4vw !important;
}
.chakra-accordion__item svg{
  font-size: 2vw;
}
.chakra-accordion__item h2 button{
  margin-top: 1.1vw !important;
}

.leadersImage{
  text-align: right;
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 100vw;
  margin-left: 3.4vw;
}

.leadersBox{
  height: 45vh;
  overflow-y: scroll;
}