.navbar{
    width: 100vw;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 3vw;
    // border: 1px solid black;

    .codeBroLogo{
        width: 12vw;
    }

    .navCenter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;

        .navItems{
            font-size: 1.2vw;
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
    }
   

    .navAccContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        border: 1px solid rgb(255, 255, 255);
        padding: .3vw 1vw;
        border-radius: 1vw;
        text-decoration: none;

        .accLogo{
            width: 1vw;
        }
        p{
            font-size: 1.2vw;
            color: rgb(255, 255, 255);
        }
    }
    
}
