.navbar {
    width: 100%;  // Ensure the navbar fits within the viewport width
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1A1A1A;
    padding: 1vw 2vw; // Add padding to prevent content from touching screen edges
    // overflow-x: hidden;
  
    .codeBroLogo {
      width: 12vw;
    }
  
    .navCenter {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3vw;
  
      .navItems {
        font-size: 1.2vw;
        color: rgb(255, 255, 255);
        text-decoration: none;
      }
    }
  
    .navAccContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;
      border: 1px solid rgb(255, 255, 255);
      padding: 0.3vw 1vw;
      border-radius: 1vw;
      text-decoration: none;
  
      .accLogo {
        width: 2vw; // Adjusted to match the size in your JSX code
        height: 2vw; // Ensure this matches the size in your JSX code
        border-radius: 100vw;
      }
  
      p {
        font-size: 1.2vw;
        color: rgb(255, 255, 255);
      }
    }
}


.menuIcon {
  display: none;
  cursor: pointer;
}

.menuContainer {
  display: flex;
  position: fixed;
  top: 6vh;
  right: 1vw;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, height 0.2s ease-in-out;
  height: 0;
  width: 70vw;
  border-radius: 5vw 1vw 5vw 5vw;
  padding: 8vw;
  z-index: 10;
  background: #80808024;
  backdrop-filter: blur(28px);
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 5vw;
}

.menuContainer.visible {
  visibility: visible;
  opacity: 1;
  height: 40vh; /* Adjust height to the desired expanded state */
}

.menuBottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5vw;
}

.menuContainer p {
  font-size: 6vw;
}

.navItems.active p {
  border-bottom: .1rem solid lightgrey;
}
.rightMenuMini{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.navAccMini{
  width: 7vw;
  height: 7vw;
}
.rightMenuMini{
  display: none;
}
.accLogoMini{
  width: 100%;
  height: 100%;
  border-radius: 100vw;
}
@media screen and (max-width: 800px) {
  .navbar{
    padding: 1vw 6vw;
  }
  .logoContainer span {
    font-size: 6vw !important;
  }
  .material-symbols-outlined {
    font-size: 7vw;
  }
  .menuIcon {
    display: block;
    font-size: 10px;
    margin-top: 1.5vw;
  }
  .navbar .navCenter {
    display: none;
  }
  .navbar .navAccContainer p {
    font-size: 4vw;
    padding: .5vw 1vw;
  }
  .accLogoText{
    display: none;
  }
  .rightMenuMini{
    display: flex;
  }
  .navbar .navAccContainerNone {
    display: none;
  }
}
