.submitBox{
    width:  96.1%;
    margin-top: 1.5vw;
}

.bold{
    font-weight: bold;
    font-size: 1.3vw;
    margin-right: 1vw;
}

span{
    font-size: 1.3vw;
}

.test-case-box {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

@media screen and (max-width: 800px) {
    .submitCaseHeading{
        font-size: 4vw;
    }
    .submitCaseTexts span{ 
        font-size: 3.4vw;
        color: lightgrey;
    }
}